*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid rgb(235, 233, 165);
    
    aspect-ratio: 1/1;
}

.mio-h1{
    line-height: normal;
    align-self: center;
}

main{
    width: 100%;
    background-color: rgb(37, 127, 223);
}
header{
    height: 80px;
    width: 100%;
}