*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid rgb(163, 121, 121);
    padding: 2rem;
    aspect-ratio: 1/1;
}

.mio-h1{
    line-height: normal;
    align-self: center;
}